{# total items count #}
<div class="count">dd
    {{ pagination.getTotalItemCount }}
</div>
<table>
<tr>
{# sorting of properties based on query components #}
    <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
    <th{% if pagination.isSorted('a.intitule') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.intitule') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date']) }}</th>
</tr>

{# table body #}
{% for article in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
    <td>{{ article.id }}</td>
    <td>{{ article.intitule }}</td>
    <td>{{ article.date | date('Y-m-d H:m:s') }}</td>
</tr>
{% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>